.itemBox{
    width: 282px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    position: relative;
    margin: 30px 0px;
    user-select: none;    
    outline: 1px solid #dbdbdb;
    background-color: white;
    transition: 0.25s ease;
}

.imgBox{
    width: 250px;
    height: 250px;
    margin-top: 15px;
    cursor: pointer;
}

.imgBox > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    pointer-events: none;
}

.itemInfo{
    margin-top: 8px;
    width: 90%;
}

.itemName{
    font-size: 1.1em;
    margin-bottom: 5px;
    cursor: pointer;
    transition: .3s ease;
}

.itemValue{
    padding-top: 9px;
    font-size: 1.2em;
    font-weight: 600;
}

.itemDesc{
    font-size: .7em;
    line-height: 1;
    color: gray;
}

.itemButtons{
    width: 90%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    bottom: 15px;
    transition: 0s ease;
    opacity: 0;
}

.itemButton{
    height: 48px;
    width: 133px;
    margin: 5px;
    border-radius: 7px;
    transition: .3s ease;
    text-align: center;
}

.buy{
    background-color: #018754;
    color: white;
}

.cart{
    color: gray;
    font-size: .8em;
    line-height: 1;
    outline: 1px solid gray;
    background-color: transparent;
}

.cart:hover{
    opacity: .6;
}

.buy:hover{
    opacity: .8;
}

.itemBox:hover{
    outline: 1px solid #dbdbdb;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 11px;
    height: 460px;
    margin: 0px;
}

.itemName:hover{
    color: #018754;
}

.itemBox:hover .itemButtons{
    opacity: 1;
    transition: .3s ease;
}

@media (prefers-color-scheme: light){
    .cart{
        color: white;
        outline: 1px solid white;
    }

    .buy{
        color: #2C3639;
    }

    .itemBox:hover{
        outline: 1px solid #5a5a5a;
        box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
    }
}