#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

.infoDesc{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  background-color: #fddcec;
}

.sectionText{
  text-align: left;
}

.sectionText > .sectionDesc{
  color: gray;
}

.sectionText > .sectionTitle{
  color: #018754;
}

.section{
  padding: 25px;
}